{{template "base" .}}

{{define "content"}}
    <div class="row">
        <div class="col">
            <h1>This is the about page</h1>
            <p>This is an about page</p>
            <p>This is the second paragraph</p>
        </div>
    </div>
{{end}}